.sort_button {
  display: flex;
  height: auto !important;
  > span {
    gap: var(--pv-size-base);
  }
  .sort_button_icon {
    color: var(--pv-color-gray-9);
    transition:
      transform 0.2s,
      color 0.2s;
    &.sort_button_icon_asc {
      transform: rotateZ(180deg);
    }
  }
  &[data-active="true"],
  &:hover {
    background-color: transparent !important;

    .sort_button_icon,
    .sort_button_label {
      color: var(--pv-color-black);
    }
  }
}
