.box_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--pv-size-base-2);
  text-align: center;
  align-items: center;
  .icon_wrapper {
    font-size: 0;
    padding-bottom: var(--pv-size-base-2);
  }
  .buttons_wrapper {
    padding-top: var(--pv-size-base-2);
  }
}
