.certificate_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  &::after {
    content: "";
    display: block;
  }
}
