.certificate_type_label {
  display: flex;
  gap: var(--pv-size-base-2);
  align-items: center;
  .icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--pv-color-gray-9);

    width: var(--pv-size-base-6);
    svg {
      width: var(--pv-size-base-6);
      height: var(--pv-size-base-6);
    }
  }
  .text_wrapper {
    h6,
    p {
      display: inline;
    }
  }
}
