.list_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--pv-size-base);

  .label {
    font-size: var(--pv-text-c1-size);
    line-height: var(--pv-text-c1-height);
    color: var(--pv-color-gray-9);
    padding-left: var(--pv-size-base-2);
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--pv-size-base);
  }
}

.empty_list {
  display: flex;
  align-items: center;
  gap: var(--pv-size-base-2);
  margin-left: var(--pv-size-base-2);
  margin-top: var(--pv-size-base-2);

  .empty_list_icon {
    display: flex;
    align-items: center;
    svg {
      width: var(--pv-size-base-4);
      height: var(--pv-size-base-4);
    }
  }

  .empty_list_text {
    font-size: var(--pv-text-s1-size);
    font-weight: var(--pv-text-s1-weight);
    color: var(--pv-color-gray-8);
  }
}
