.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.top_bar {
  height: var(--pv-top-header-height);
  background-color: var(--pv-color-gray-2);
  position: sticky;
  top: 0;
  z-index: 99;
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--pv-color-gray-2);
  }
}
