@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  --pv-border-radius-base: 8px;
}
body {
  font-family: Manrope, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--pv-color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
