.topbar_root {
  padding-top: var(--pv-size-base-6);
  display: flex;
  gap: var(--pv-size-base-2);

  .topbar_divider {
    flex-grow: 1;
  }

  .search_field {
    position: relative;
    width: 400px;
    input {
      padding-left: var(--pv-size-base-8);
    }
    svg {
      position: absolute;
      left: 8px;
      top: 5px;
    }
  }
}
.creation_menu {
  margin: 0 !important;

  .creation_menu_icon {
    color: var(--pv-color-gray-10);
  }
}
